/*Estilos da Página Index.html*/

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

.container{
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 15px;
}

#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover{
    color: rgb(197, 195, 195);
}

.p-30{
    padding: 30px;
}

.br-50{
    border-radius: 50%;
}

.tm-social{
    width: 40px;
    height: 40px;

}


/*Estilos da Página Contato.html*/ 

.ml-50{
    margin-left: 50px;
}